.example-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    min-width: 150px;
    max-width: 500px;
    height: 100%;
    width: 100%;
    padding-top: 20px;

    .text {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 16px; 
        text-align: center;
        padding: 10px;
        margin-top: 15px;
    }

    .name-input {
        margin-top: 10px;
        width: 60%;
    }

    .chip-list {
        width: 100%;
        margin-top: 10px;
    }

    .mdc-button {
        margin-top: 20px;
        background-color: purple;
        width: 50%;
        height: 45px;
    }
}